*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Poppins,sans-serif;

}



body{


min-height:100vh;


background:

linear-gradient(
135deg,
#020617,
#1e3a8a,
#0f766e
);


color:white;


display:flex;

flex-direction:column;


}





nav{


padding:15px;


text-align:center;


background:

rgba(255,255,255,.1);


backdrop-filter:blur(15px);


}



nav span{


color:#38bdf8;


}




main{


flex:1;


display:flex;


justify-content:center;


align-items:center;


gap:15px;


padding:15px;


}




.calculator,
.history{


background:

rgba(255,255,255,.12);


backdrop-filter:blur(20px);


border-radius:22px;


box-shadow:

0 15px 40px black;


padding:18px;


}




.calculator{


width:320px;


}





.display{


background:#020617;


padding:15px;


border-radius:15px;


margin-bottom:15px;


overflow:hidden;


}



#expression{


height:22px;


text-align:right;


color:#94a3b8;


overflow-x:auto;


}



#result{


font-size:28px;


text-align:right;


color:#38bdf8;


white-space:nowrap;


overflow:hidden;


}






.buttons{


display:grid;


grid-template-columns:repeat(4,1fr);


gap:10px;


}





button{


height:42px;


border:none;


border-radius:12px;


background:#1e293b;


color:white;


font-size:15px;


cursor:pointer;


box-shadow:

4px 4px 10px #020617;


transition:.3s;


}



button:hover{


transform:translateY(-3px);


background:#334155;


}





.history{


width:240px;


max-height:350px;


overflow:auto;


}




.history button{


width:100%;


background:#ef4444;


margin-bottom:10px;


}





li{


list-style:none;


background:#020617;


padding:8px;


margin-top:8px;


border-radius:8px;


font-size:13px;


}




footer{


text-align:center;


padding:12px;


background:rgba(0,0,0,.4);


}






@media(max-width:700px){


main{


flex-direction:column;


}


.calculator,
.history{


width:95%;


}



}