*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Poppins,sans-serif;

}


body{


min-height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(
135deg,
#020617,
#1e1b4b,
#0f766e
);


color:white;

}

.app{

width:90%;

max-width:750px;

display:flex;

gap:15px;

}


.calculator,
.history{


background:

rgba(255,255,255,.1);


backdrop-filter:blur(20px);


border-radius:25px;


padding:25px;


box-shadow:


0 20px 50px black;



}




.calculator{

width:350px;

padding:20px;

}



h1,h2{


text-align:center;

margin-bottom:20px;


}



.display-box{

background:#020617;

border-radius:20px;

padding:18px;

margin-bottom:20px;

min-height:110px;

overflow:hidden;

}



#expression{

font-size:18px;

color:#94a3b8;

white-space:nowrap;

overflow-x:auto;

text-align:right;

scroll-behavior:smooth;

}



#result{

font-size:32px;

margin-top:10px;

color:#38bdf8;


white-space:nowrap;

overflow:hidden;

text-overflow:ellipsis;


text-align:right;

max-width:100%;


}



.buttons{


display:grid;

grid-template-columns:repeat(4,1fr);

gap:12px;


}



button{
height:45px;
border:none;
border-radius:14px;
cursor:pointer;
font-size:16px;
color:white;
background:#1e293b;
box-shadow:
5px 5px 12px #020617,
-5px -5px 12px #475569;
transition:.3s;
}
/* button{

height:45px;

font-size:16px;

border-radius:14px;

} */


button:hover{


transform:translateY(-4px);


background:#334155;


}



.equal{


background:#06b6d4;

}


.history{

width:250px;

padding:20px;

}



.history button{

width:100%;

background:#ef4444;

margin-bottom:15px;

}



li{


list-style:none;


padding:12px;


margin:8px 0;


border-radius:10px;


background:#0f172a;


font-size:14px;


}




@media(max-width:700px){


.app{

flex-direction:column;

align-items:center;


}


.calculator,
.history{

width:100%;

}



}